In [19]:
import pandas as pd
import os

In [20]:
df_input = pd.read_csv(r'Input_log_file.csv')

In [21]:
df_search = pd.read_csv(r'Input_log_file.csv')

In [22]:
df_search = df_search.astype(str)

In [23]:
df_search['search'] = df_search.loc[:, 'ID_1'] + "_"+df_search.loc[:, 'ID_2']+'_Masterfile.csv'
unique_values = df_search.search.unique()

In [6]:
files = []
path = os.getcwd()
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        files.append(filename)

In [24]:
unique_values

array(['1_11_Masterfile.csv', '1_22_Masterfile.csv'], dtype=object)

In [8]:
files

['1_11_Masterfile.csv', '1_22_Masterfile.csv', 'Input_log_file.csv']

In [9]:
for i in unique_values:
    if i in files and i[2:4] == '11':
        df_master_1 = pd.read_csv(i)
    elif i in files and i[2:4] == '22':
        df_master_2 = pd.read_csv(i)

In [10]:
df_output_1 = df_input.merge(df_master_1, how = 'inner', on ='Dept')

In [11]:
df_output_2 = df_input.merge(df_master_2, how = 'inner', on ='Dept')

In [12]:
result = pd.concat([df_output_1, df_output_2])

In [13]:
result.reset_index(drop=True, inplace=True)

In [14]:
result

   ID_1  ID_2  Name Dept  Age   Dept_Name
0     1    11   ABC    A   22          IT
1     1    11   XYZ    B   43     Finance
2     1    11   DEF    C   23   Marketing
3     1    11   WER    D   45          HR
4     1    22   QWE    E   42       Legal
5     1    22   ASD    R   11  Operations
6     1    22   ZXC    F   33     Network
7     1    22  WERT    G   88       Admin

In [15]:
for i in files:
    if 'Input' in i :
        output_name = i[0:-4]+'_output_report.csv'
        print(output_name)

Input_log_file_output_report.csv

In [16]:
result.to_csv(output_name)